{% extends 'layout.html' %}

{% block body %}

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Carbon Footprint</h1>
            <p class="lead">CO2 & GHG emission Data Analysis</p>
            <hr class="my-2">
            <p class="h3">All Plots</p>
            <p class="lead mt-5">
                <a class="btn btn-primary btn-lg btn-block col-5" href="/plot1">Carbon Emissions per Energy Source</a>
                <a class="btn btn-primary btn-lg btn-block col-5" href="/subplots">Carbon Emissions individual plots</a>
                <a class="btn btn-primary btn-lg btn-block col-5" href="/bar">CO2 Emissions of Electric Power Sector</a>
                <a class="btn btn-primary btn-lg btn-block col-5" href="/monthly">Monthly trends in emission</a>
                <a class="btn btn-primary btn-lg btn-block col-5" href="/trend">Different trends in Emissions</a>
                <!-- <a class="btn btn-primary btn-lg btn-block col-5" href="/plot1">Jumbo action name</a> -->
            </p>

        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script type="text/javascript">

    

</script>

{% endblock %}
