<!doctype html>
<html>

<head>
</head>

<body>

    
    <div id="graph"></div>

    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.min.js"></script>

    <script type="text/javascript">

        var graphs = {{graphJSON | safe}};


        console.log(graphs[0].data)
        for(var i in graphs) {
            Plotly.plot('graph',
                        graphs[i].data
                        );
        }

    </script>
</body>

</html>
